<footer class="footer blurrable">
    <div class="container justify-content-between">
        <div class="copyright col-md-18">
            2018 @ All Rights Reserved. Skycop.com Ltd. This theme is stolen from Skycop.com for demonstration purposes
        </div>
    </div>
</footer>